
#encabezado{
    background: #3F5EFB;
    background-image: url('./estrelladoLila.jpg');
    background-size: auto;
}

nav ul {
    list-style: none;
    font-size: 24px;
    color: rgb(211, 11, 211);
    font-weight: bolder;
    letter-spacing: 3px;
    text-shadow: 1px  0px 0px white,
                 0px  1px 0px white,
                 -1px  0px 0px white,
                 0px -1px 0px white;
}

li {
    display: inline-block;
    margin: 20px 40px 20px 40px;
}

nav li:hover {
    color: rgb(78, 14, 78);
    cursor: pointer;
}