
#encabezado{
    background: #3F5EFB;
    background-image: url('./estrelladoLila.jpg');
    background-size: auto;
}

#encabezado h3{
    color: white;
    text-shadow: 1px  0px 0px rgb(211, 11, 211),
                 0px  1px 0px rgb(211, 11, 211),
                 -1px  0px 0px rgb(211, 11, 211),
                 0px -1px 0px rgb(211, 11, 211);
    line-height: 40px;
}

li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(211, 11, 211);
    font-weight: bolder;
    letter-spacing: 3px;
    text-shadow:1px  0px 0px white,
                0px  1px 0px white,
                -1px  0px 0px white,
                0px -1px 0px white;
    margin: 20px 40px 20px 40px;
}

a:hover {
    color: rgb(78, 14, 78);
    cursor: pointer;
}